<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../my-accounts/my-accounts.html">
<link rel="import" href="../page-not-found/page-not-found.html">
<link rel="import" href="../manage-users/manage-users.html">
<link rel="import" href="../account-transaction/account-transaction.html">

<dom-module id="main-component">
  <template>
    <style>
    </style>

    <iron-pages id="pages" selected="[[componentName]]" attr-for-selected="component-name" >
      <div component-name="login-usuario"><login-usuario></login-usuario></div>
      <div component-name="my-accounts"><my-accounts email="[[email]]" user="[[idUser]]" ></my-accounts></div>
      <div component-name="manage-users"><manage-users email="[[email]]" user="[[idUser]]" active="[[users]]"></manage-users></div>
      <div component-name="account-transaction"><account-transaction email="[[email]]" user="[[idUser]]" account="[[account]]"></account-transaction></div>
      <div component-name="page-not-found"><page-not-found ></page-not-found></div>

    </iron-pages>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
     class MainComponent extends Polymer.Element {
       static get is() { return 'main-component'; }
       static get properties() {
         return {
           componentName: {
             type: String,
             value: 'login-usuario'
           },
           logged:{
             type: Boolean
           },
           email: {
             type: String
           },
           idUser: {
             type: Number,
             value: Number("0")
           },
           users:{
             type: Boolean,
             value:false
           },
           account: {
             type: Number,
             value: Number("0")
           }
         };
       }

       constructor() {
         super();
         this._boundListener = this.processEvent.bind(this);
       }

      connectedCallback() {
        super.connectedCallback();
        window.addEventListener('change-event', this._boundListener);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener('change-event', this._boundListener);
      }

      processEvent(e) {
          if (e.detail.evento == "login") {
            this.idUser=e.detail.user;
            this.email= e.detail.email;
            this.componentName = "my-accounts";
          } else if (e.detail.evento == "logout") {
            this.componentName = "login-usuario";
            this.email= '';
            this.password='';
            this.idUser=Number('0');
          }else if (e.detail.evento == "manage-users") {
            this.email= e.detail.email;
            this.users=true;
            this.componentName = "manage-users";
          }else if (e.detail.evento == "movimientos") {
            this.email= e.detail.email;
            this.idUser= e.detail.user;
            this.account= e.detail.account;
            this.componentName = "account-transaction";
          }
      }
     }

    window.customElements.define(MainComponent.is, MainComponent);
  </script>
</dom-module>
