<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../menu-header/menu-header.html">

<dom-module id="account-transaction">
  <template>
    <style>
    :host{
        font-size: 12px;
        font-family: Arial;
      }

    </style>
    <link href="../../assets/css/styles.css" rel="stylesheet" />

    <menu-header selected="0" email="[[email]]" user="[[user]]"></menu-header>
     <h2 class="h2">Movimientos de la cuenta Id: [[account]]</h2>
     <div>
            <div class="cuadroHeader" >
                  <table width="100%">
                    <tr class="header">
                      <td width="20%">Fecha</td>
                      <td width="40%" >Concepto</td>
                      <td width="10%" style="text-align:center;">Moneda</td>
                      <td width="20%" style="text-align:center;">Monto</td>
                      <td width="20%" style="text-align:center;">Operaciones</td>
                    </tr>
                  </table>
                </div>
            </div>
     </div>

     <iron-list items="{{transactions}}" as="transaction" scroll-target="document">
       <template>

         <div>
                <div class="cuadro">

                  <table width="100%">
                    <tr>
                      <td width="20%">[[transaction.date]]</td>
                      <td width="40%" >[[transaction.concept]]</td>
                      <td width="10%" style="text-align:center;">USD</td>
                      <template is="dom-if" if="[[_isEqualTo(transaction.type, 'DEBITO')]]">
                        <td width="20%" style="text-align:center;">-[[transaction.amount]]</td>
                      </template>
                      <template is="dom-if" if="[[_isEqualTo(transaction.type, 'CREDITO')]]">
                        <td width="20%" style="text-align:center;">[[transaction.amount]]</td>
                      </template>
                      <td width="20%" style="text-align:center;">
                        <paper-icon-button icon="open-in-new" on-tap="_detail" data-args$='[[transaction]]' title="Ver detalle" data-args$='[[transaction]]'></paper-icon-button>
                      </td>
                    </tr>
                  </table>

         </div>
       </template>
     </iron-list>

     <!--Popup detalle-->
      <paper-dialog id='popupDetail' modal>
        <div class="alert alert-info tituloPopup" role="alert" style="text-align:center;margin-top:0px">Detalle del movimiento
          <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
        </div>
        <div class="card-body">
            <table width="100%">

            <template is="dom-if" if="true">
              <tr>
                <td width="40%" class="titulo">Tipo de movimiento:</td>
                <td width="60%">{{transactionSel.type}}</td>
              </tr>
            </template>
            <template is="dom-if" if="true">
              <tr>
                <td width="40%" class="titulo">Cuenta relacionada:</td>
                <td width="60%">{{transactionSel.other_account}}</td>
              </tr>
            </template>
            </table>

         </div>
       </paper-dialog>

     <iron-ajax
       id="getTransactions"
       url=""
       handle-as="json"
       on-response="showTransactions"
     >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AccountTransaction extends Polymer.Element {
      static get is() { return 'account-transaction'; }
      static get properties() {
        return {
          transactions:{
            type: Array
          },
          email: {
              type:String
          },
          user: {
            type: Number
          },
          account: {
            type: Number,
            value: Number("0"),
            observer: '_accountChanged'
          },
          transactionSel:{
            type: Object,
            value:{}
          }
        };
      }

      showTransactions(data) {
        this.transactions = data.detail.response.data;

      }

      _accountChanged(newValue, oldValue) {
           this.transactions=null;
           if(newValue) {
             var token =localStorage.getItem('tokenJWT');
             this.$.getTransactions.headers=  {"authorization":""+token};
             this.$.getTransactions.url='http://localhost:3000/api-uruguay/v1/transactions/'+ this.account;
             this.$.getTransactions.generateRequest();
           }
       }

       _detail(e){
         var transaction=e.model.transaction;

         this.transactionSel = {
           "address" : transaction.address,
           "other_account" : transaction.other_account,
           "type" : transaction.type
           }
           this.$.popupDetail.open();
         }

         _isEqualTo(title, string) {
           return title == string;
         }
    }

    window.customElements.define(AccountTransaction.is, AccountTransaction);
  </script>
</dom-module>
