<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../menu-header/menu-header.html">

<dom-module id="manage-users">
  <template>
    <style>
    :host{
        font-size: 12px;
        font-family: Arial;
      }

    </style>
    <link href="../../assets/css/styles.css" rel="stylesheet" />
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <menu-header selected="2" email="[[email]]" user="[[user]]"></menu-header>
     <h2 class="h2">Administrar usuarios</h2>

    <div class="col-md-4 col-sm-4 col-xs-12">
       <div class="panel panel-default">
          <div class="panel-body recent-users-sec">
              <button class="btn btn-primary"  on-tap='_newUser'>Nuevo Usuario</button>
            </div>
   </div>
    </div>

         <div>
                <div class="cuadroHeader" >
                      <table width="100%">
                        <tr class="header">
                          <td width="30%">Email</td>
                          <td width="10%" style="text-align:center;">Id usuario</td>
                          <td width="25%" >Nombre</td>
                          <td width="25%">Apellido</td>
                          <td width="10%" style="text-align:center;">Operaciones</td>
                        </tr>
                      </table>
                    </div>
                </div>
         </div>

        <iron-list items="[[users]]" as="user" scroll-target="document">
        <template>
          <div>

                <div class="cuadro">

                  <table width="100%">
                    <tr>
                      <td width="30%" class="titulo">[[user.email]]</td>
                      <td width="10%" style="text-align:center;">[[user.id]]</td>
                      <td width="25%">[[user.first_name]]</td>
                      <td width="25%">[[user.last_name]]</td>
                      <td width="10%" style="text-align:center;">
                        <paper-icon-button icon="create" on-tap="_editUser" data-args$='[[user]]' title="Editar usuario"></paper-icon-button>
                        <paper-icon-button icon="delete" on-tap="_deleteUser" data-args$='[[user]]' title="Eliminar usuario"></paper-icon-button>
                      </td>
                    </tr>
                  </table>

                </div>
         </div>
       </template>
     </iron-list>

     <!-- Pop-up Eliminar usuario-->
    <paper-dialog id='popupEliminar' modal>
           <div class="alert alert-info tituloPopup" role="alert" style="margin-top:0px" >
             <img src="../../assets/images/alertIcon.png" class="img-fluid" style="width:8%">Confirmacion
             <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
           </div>
              <div style="text-align:center;">

                 <div class="form-group">
                   <label class="contenidoPopup">¿Esta seguro que desea eliminar el usuario?</label>
                 </div>
                   <button class="btn btn-primary" on-tap="_confirmDelete">Confirmar</button>
                </div>
              </div>
         </paper-dialog>

   <!--Mensaje-->
       <paper-dialog id='mensaje' modal>
         <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
         <div class="" role="alert">
         {{mensaje::input}}
         </div>
       </paper-dialog>

 <!-- Popup usuario-->
     <paper-dialog id='popupUsuario' modal style="overflow-y: scroll;">
       <div class="alert alert-info tituloPopup" role="alert" style="text-align:center;margin-top:0px">Crear/Editar Usuario
         <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
       </div>

          <div class="card-body">
              <form onsubmit="return(false)">
                 <div class="form-group">
                   <label for="exampleInputEmail1">Primer Nombre</label>
                   <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" placeholder="Ingresar Primer Nombre" value="{{userNew.first_name::input}}" required>
                 </div>
                 <div class="form-group">
                   <label for="exampleInputEmail1">Apellido</label>
                   <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" placeholder="Ingresar Apellido" value="{{userNew.last_name::input}}" required>
                 </div>
                 <div class="form-group">
                   <label for="exampleInputEmail1">Email</label>
                   <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresar Email" value="{{userNew.email::input}}" required>
                 </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" id="pass" aria-describedby="emailHelp" placeholder="Ingresar Password" value="{{userNew.password::input}}" required>
                  </div>

                 <template is="dom-if" if="{{!isInsert}}">
                   <button class="btn btn-primary" on-tap="_updateUser">Actualizar</button>
                 </template>
                 <template is="dom-if" if="{{isInsert}}">
                   <button class="btn btn-primary" on-tap="_insertUser">Crear</button>
                 </template>
            </form>
            </div>

     </paper-dialog>

 <iron-ajax
   id="getUsuarios"
   method="GET"
   url="http://localhost:3000/api-uruguay/v1/users/"
   handle-as="json"
   on-response="mostrarUsuarios">

 <iron-ajax
     id="deleteUsuarios"
     url="http://localhost:3000/api-uruguay/v1/users/"
     content-type=""
     method="DELETE"
     handle-as=""
     on-response="userDeleteResponse"
     on-error="showError">

   <iron-ajax
     id="insertUsuario"
     url="http://localhost:3000/api-uruguay/v1/users/"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="userInsertResponse"
     on-error="showError">

   <iron-ajax
       id="updateUsuario"
       url="http://localhost:3000/api-uruguay/v1/users/"
       content-type="application/json"
       method="PUT"
       handle-as="json"
       on-response="userUpdateResponse"
       on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ManageUsers extends Polymer.Element {
      static get is() { return 'manage-users'; }
      static get properties() {
        return {
          users:{
            type: Array
          },
          email: {
              type:String
          },
          user: {
            type: Number
          },
          userDelete: {
           type: Number
         },
         userNew:{
           type: Object,
           value:{}
         },
          active: {
            type: Boolean,
            value: false,
            observer: '_activeChanged'
          },
          mensaje: {
              type:String
          },
          isInsert: {
           type: Boolean,
           value:false
         }

        };
      }
      // After the properties, but inside the class.
      mostrarUsuarios(data) {
        this.users = data.detail.response.data;

      }

      _activeChanged(newValue, oldValue) {
          this.users=null;
           if(newValue) {
             var token =localStorage.getItem('tokenJWT');
             this.$.getUsuarios.headers=  {"authorization":""+token};
             this.$.getUsuarios.generateRequest();
           }
       }

      _deleteUser(e){
        var usuario=e.model.user;
        this.userDelete = Number(usuario.id);
        this.$.popupEliminar.open();
       }

     _confirmDelete(){
       var token =localStorage.getItem('tokenJWT');
       this.$.deleteUsuarios.headers=  {"authorization":""+token};
       this.$.deleteUsuarios.url= "http://localhost:3000/api-uruguay/v1/users/" +this.userDelete;
       this.$.deleteUsuarios.generateRequest();
       this.$.popupEliminar.close();
      }

      userDeleteResponse(data) {
        var token =localStorage.getItem('tokenJWT');
        this.$.getUsuarios.headers=  {"authorization":""+token};
        this.$.getUsuarios.generateRequest();
      }

      showError(error) {
        this.mensaje="Ha ocurrido un error: ";
        this.mensaje+=error.detail.request.xhr.response.error;
        this.$.mensaje.open();
      }

      _insertUser(){
        if(this.userNew.email!=undefined && this.userNew.password!=undefined && this.userNew.first_name!=undefined && this.userNew.last_name!=undefined){
          var token =localStorage.getItem('tokenJWT');
          this.$.insertUsuario.headers=  {"authorization":""+token};
          this.$.insertUsuario.body = JSON.stringify(this.userNew);
          this.$.insertUsuario.generateRequest();
        }

      }

      userInsertResponse(data) {
        var token =localStorage.getItem('tokenJWT');
        this.$.getUsuarios.headers=  {"authorization":""+token};
        this.$.getUsuarios.generateRequest();
        this.$.popupUsuario.close();
      }

        _editUser(e){
          var user=e.model.user;
          this.isInsert=false;
          this.userNew = {
            "email" : user.email,
            "first_name" : user.first_name,
            "last_name" : user.last_name,
            "password": user.password,
            "id" : user.id
            }
          this.$.popupUsuario.open();
          }

      _updateUser(){
          if(this.userNew.email!='' && this.userNew.password!='' && this.userNew.first_name!='' && this.userNew.last_name!=''){
            var token =localStorage.getItem('tokenJWT');
            this.$.updateUsuario.headers=  {"authorization":""+token};
            this.$.updateUsuario.url= "http://localhost:3000/api-uruguay/v1/users/" +this.userNew.id;
            this.$.updateUsuario.body = JSON.stringify(this.userNew);
            this.$.updateUsuario.generateRequest();
          }

       }

       userUpdateResponse(data) {
         var token =localStorage.getItem('tokenJWT');
         this.$.getUsuarios.headers=  {"authorization":""+token};
         this.$.getUsuarios.generateRequest();
         this.$.popupUsuario.close();
        }

        _newUser(){
           this.userNew = {};
           this.isInsert=true;
           this.$.popupUsuario.open();
         }
    }

    window.customElements.define(ManageUsers.is, ManageUsers);
  </script>
</dom-module>
