<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        font-family:Arial;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        text-align: center;
      }
      .paper-buton{ background-color: #ccc; border-radius: 13px; float: right; min-width: unset !important; margin: 10px; border: solid 2px #b2b2b2; color: #303f9f; padding: unset; width: 26px; text-align: center; }

    </style>

   <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
   <link href="../../assets/css/styles.css" rel="stylesheet" />

    <iron-ajax id="hacerLogin"
       url="http://localhost:3000/api-uruguay/v1/login"
       method="POST"
       content-type="application/json"
       handle-as="json"
       body="[[body]]"
       on-response="mostrarResultadoLogin"
       on-error="mostrarError">
    </iron-ajax>


  <div class="form-signin">

    <form onsubmit="return(false)">
      <img class="mb-4" src="{{imgsrc}}" alt="" width="72" height="72"/>
      <h1 class="h3 mb-3 font-weight-normal">Acceso a BBVA</h1>
      <label for="inputEmail" class="sr-only">Email </label>
      <input type="email" value={{email::input}} id="inputEmail" class="form-control" placeholder="Email address" required autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" value={{password::input}} id="inputPassword" class="form-control" placeholder="Password" required=>
      <button on-click="logar" class="btn btn-lg btn-primary btn-block" >Acceder</button>
    </form>
  </div>

<!--Mensaje de error-->
     <paper-dialog id='mensaje' modal>
       <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
       <div class="" role="alert">
         Alguno de los datos ingresados no es correcto, por favor intente nuevamente.
       </div>
     </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          body: {
            type: String
          },
          imgsrc: {
               type: String,
               value: function() {return this.resolveUrl('../../assets/images/logoBBVA.png')}
           }
        };
      }
      mostrarResultadoLogin(resultado) {
        //Guardo el token en localstorage
        localStorage.setItem("tokenJWT", resultado.detail.response.data.token);

        this.dispatchEvent(
                  new CustomEvent(
                    "change-event",
                    {
                      bubbles: true,
                      composed: true,
                      detail : {
                        evento: "login",
                        logged : true,
                        email: this.email,
                        user: resultado.detail.response.data.id
                      }
                    }
                  )
                );

        this.logado = true;
        this.email='';
        this.password='';
      }
      logar() {
        if(this.email!='' && this.email!=undefined && this.password!='' && this.password!=undefined){
          var jsBody={
            "email": this.email,
            "password": this.password
          }
          this.body = JSON.stringify(jsBody);
          this.$.hacerLogin.generateRequest();
        }

      }
      mostrarError(error) {
        this.logado = false;
        this.$.mensaje.open();
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
