<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/resize-title.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">

<dom-module id="menu-header">
  <template>
    <style>
      /* MENU */
      app-header {
          color: #fff;
          height: 100px;
        }
        app-toolbar {
          height: 10px;
        }

       paper-tabs {
           --paper-tabs-selection-bar-color: white;
           background-color: #095296;
           font-family: 'Arial';
           color: white;
           font-weight: bold;
           font-size: 20px;
           height: 60px;
         }
    </style>

    <div flex tool>Hola [[email]] <logout-usuario email="[[email]]"></logout-usuario></div>

    <app-header id="header" effects="waterfall" fixed condenses>
        <paper-tabs selected="[[selected]]" sticky>
          <paper-tab on-tap="myAccounts">Mis cuentas</paper-tab>
          <paper-tab on-tap="manageUsers">Administrar usuarios</paper-tab>
        </paper-tabs>
    </app-header>


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
     class MenuHeader extends Polymer.Element {
       static get is() { return 'menu-header'; }
       static get properties() {
         return {
           email: {
               type:String
           },
           user: {
               type:String
           },
           selected:{
             type:Number
           }
         };
       }

      manageUsers() {
        this.dispatchEvent(
                  new CustomEvent(
                    "change-event",
                    {
                      bubbles: true,
                      composed: true,
                      detail : {
                        evento: "manage-users",
                        email: this.email,
                        user: this.user
                      }
                    }
                  )
                );
      }

      myAccounts() {
        this.dispatchEvent(
                  new CustomEvent(
                    "change-event",
                    {
                      bubbles: true,
                      composed: true,
                      detail : {
                        evento: "login",
                        email: this.email,
                        user: this.user
                      }
                    }
                  )
                );


      }

     }

    window.customElements.define(MenuHeader.is, MenuHeader);
  </script>
</dom-module>
