
  html,
  body {
    height: 100%;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h2 {
      font-family: "Bbva Web light", Helvetica, sans-serif !important;
      font-size: 30px !important;
      font-weight: normal  !important;
      color: #0078D2 !important;
  }

  .cuadroHeader{
    margin: 16px 16px 0 16px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 8px;
    background-color: #F9FAFA;
    border: 1px solid #A2D5EB;
  }
  .cuadro{
    margin: 0px 16px 0 16px;
    padding: 20px;
    background-color: #F9FAFA;
    border-bottom:  1px solid #A2D5EB;
  }

  .titulo{
    font-size: 16px;
    font-weight: bold;
    color:#3A99D8;
  }

  .header{
    font-size: 15px;
    font-weight: bold;
  }

  .paper-buton-close{ background-color: #ccc; border-radius: 13px; float: right; min-width: unset !important; margin: 10px; border: solid 2px #b2b2b2; color: #303f9f; padding: unset; width: 26px; text-align: center; margin-top: 0px}
  .tituloPopup{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
  }
  .contenidoPopup{
    font-size: 16px;
    font-family: Arial;
  }
