<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="logout-usuario">
  <template>
    <style>
    paper-icon-button{
      margin-left: auto;
    }

    </style>

      <iron-ajax id="hacerLogout"
                 url="http://localhost:3000/api-uruguay/v1/logout"
                 method="POST"
                 content-type="application/json"
                handle-as="json"
                body="[[body]]"
                 on-response="mostrarResultadoLogout"
                 on-error="mostrarErrorLogout">
      </iron-ajax>

      <paper-icon-button icon="exit-to-app" on-tap="logout" ></paper-icon-button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          body: {
            type: String
          }
        };
      }

      mostrarResultadoLogout(resultado) {

        this.dispatchEvent(
                  new CustomEvent(
                    "change-event",
                    {
                      bubbles: true,
                      composed: true,
                      detail : {
                        evento: "logout",
                        logged : false
                      }
                    }
                  )
                );
        localStorage.removeItem('tokenJWT');
        this.logado = false;
      }

      mostrarErrorLogout(error) {
        this.logado = true;
      }

      logout() {
        var token =localStorage.getItem('tokenJWT');
        this.$.hacerLogout.headers=  {"authorization":""+token};
        var jsBody={
          "email": this.email
        }
        this.body = JSON.stringify(jsBody);
        this.$.hacerLogout.generateRequest();
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
