<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../menu-header/menu-header.html">

<dom-module id="my-accounts">
  <template>
    <style>
    :host{
        font-size: 12px;
        font-family: Arial;
      }

      @media (min-width: 768px) {
        paper-dialog {
          width: 66.66666666%;
          margin-left: 16.666666%;
        }
      }
      @media (min-width: 992px) {
        .paper-dialog {
          width: 50%;
          margin-left: 25%;
        }
      }
      @media (min-width: 1200px) {
        .paper-dialog {
          width: 33.33333%;
          margin-left: 33.33333%;
        }
      }
    </style>

    <link href="../../assets/css/styles.css" rel="stylesheet" />
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />

    <menu-header selected="0" email="[[email]]" user="[[user]]"></menu-header>
     <h2 class="h2">Mis cuentas</h2>
     <div>
            <div class="cuadroHeader" >
                  <table width="100%">
                    <tr class="header">
                      <td width="40%">IBAN</td>
                      <td width="20%" style="text-align:center;">Id cuenta</td>
                      <td width="10%" style="text-align:center;">Moneda</td>
                      <td width="10%">Saldo</td>
                      <td width="10%" style="text-align:center;">Operaciones</td>
                    </tr>
                  </table>
                </div>
            </div>
     </div>
     <iron-list items="[[accounts]]" as="account" scroll-target="document">
       <template>
         <div>
                <div class="cuadro">

                  <table width="100%">
                    <tr>
                      <td width="40%" class="titulo">[[account.IBAN]]</td>
                      <td width="20%" style="text-align:center;">[[account.id]]</td>
                      <td width="10%" style="text-align:center;">USD</td>
                      <td width="10%" style="font-weight:bold;">[[account.balance]]</td>
                      <td width="10%" style="text-align:center;">
                        <paper-icon-button icon="zoom-in" on-tap="_getTransactions" title="Ver movimientos" data-args$='[[account]]'></paper-icon-button>
                        <paper-icon-button src="../../assets/images/transfer.png" on-tap="_transfer" data-args$='[[account]]' title="Realizar transferencia" data-args$='[[account]]'></paper-icon-button>
                      </td>
                    </tr>
                  </table>

         </div>
       </template>
     </iron-list>

     <!-- Popup transferencia-->
     <paper-dialog id='popupTransaction' modal style="overflow-y: scroll;">
       <div class="alert alert-info tituloPopup" role="alert" style="text-align:center;margin-top:0px">Realizar transferencia
         <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
       </div>

              <div class="card-body">
                <form onsubmit="return(false)">
                 <div class="form-group">
                   <label for="exampleInputEmail1">Id Cuenta Origen</label>
                   <input disabled type="text" class="form-control" id="id_account" value="{{transactionNew.id_account::input}}" >
                 </div>
                 <div class="form-group">
                   <label for="exampleInputEmail1">IBAN Cuenta Origen</label>
                   <input disabled type="text" class="form-control" id="IBAN" value="{{transactionNew.IBAN::input}}" >
                 </div>
                 <div class="form-group">
                   <label for="exampleInputEmail1">Cuenta Destino</label>
                   <input type="text" class="form-control" id="other_account" placeholder="Ingresar cuenta destino" value="{{transactionNew.other_account::input}}" required>
                 </div>
                 <div class="form-group">
                   <label for="exampleInputEmail1">Concepto</label>
                   <input type="text" class="form-control" id="concept" placeholder="Ingresar concepto" value="{{transactionNew.concept::input}}" required>
                 </div>
                 <div class="form-group">
                   <label for="exampleInputEmail1">Monto</label>
                   <input type="number" step="0.01" class="form-control" id="amount"  placeholder="0.00" value="{{transactionNew.amount::input}}" required>
                 </div>


                 <button class="btn btn-primary" on-tap="_makeTransaction">Confirmar</button>
              </form>
            </div>

     </paper-dialog>

     <!--Mensaje-->
      <paper-dialog id='mensaje' modal>
        <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
        <div class="" role="alert">
        {{mensaje::input}}
        </div>
      </paper-dialog>

     <iron-ajax
       id="getAccounts"
       url=""
       handle-as="json"
       method="GET"
       on-response="showAccounts"
     >

     <iron-ajax
       id="insertTransfer"
       url="http://localhost:3000/api-uruguay/v1/transactions/"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="transferResponse"
       on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAccounts extends Polymer.Element {
      static get is() { return 'my-accounts'; }
      static get properties() {
        return {
          accounts:{
            type: Array
          },

          email: {
              type:String
          },
          user: {
            type: Number,
            value: Number("0"),
            observer: '_userChanged'
          },
          transactionNew:{
            type: Object,
            value: {}
          },
          islog: {
           type: Object,
          }
        };
      }

      // After the properties, but inside the class.
      showAccounts(data) {
        this.accounts = data.detail.response.data;

      }

      _userChanged(newValue, oldValue) {
        this.accounts=null;
        if(newValue !=0) {
           var token =localStorage.getItem('tokenJWT');
           this.$.getAccounts.headers=  {"authorization":""+token};
           this.$.getAccounts.url='http://localhost:3000/api-uruguay/v1/accounts/'+ this.user;
           this.$.getAccounts.generateRequest();
          }
       }

       _getTransactions(e) {
         var cuenta=e.model.account;

         this.dispatchEvent(
                   new CustomEvent(
                     "change-event",
                     {
                       bubbles: true,
                       composed: true,
                       detail : {
                         evento: "movimientos",
                         email: this.email,
                         user: this.user,
                         account: cuenta.id
                       }
                     }
                   )
                 );
          }

          _transfer(e){
            var type='DEBITO';
            var datetme = new Date().toLocaleString();
            var dia=new Date().getDate();
            if(dia<10)
            {
              datetme="0"+datetme;
            }
            this.transactionNew = {
              "id_account": e.model.account.id,
              "IBAN": e.model.account.IBAN,
              "type": e.model.type=type,
              "date":datetme,
              "balanceOld": e.model.account.balance
            };

            this.$.popupTransaction.open();
          }

          showError(error) {
            this.$.popupTransaction.close();
            this.mensaje="Ha ocurrido un error: ";
            this.mensaje+=error.detail.request.xhr.response.error;
            this.$.mensaje.open();
          }


          _makeTransaction(){
            var mensaje="";
            if(this.transactionNew.other_account!=undefined && this.transactionNew.concept!=undefined && this.transactionNew.amount!=undefined){
              var montoTransaccion=parseFloat(this.transactionNew.amount);
              var saldoActual= parseFloat(this.transactionNew.balanceOld);

              //Valido que la cuenta origen no sea igual a la destino
              if(this.transactionNew.other_account== this.transactionNew.IBAN){
                mensaje= "La cuenta ingresada coincide con la cuenta origen";
              }else if(saldoActual-montoTransaccion>0 ){
                //Valido que le alcance el saldo
                var token =localStorage.getItem('tokenJWT');
                this.$.insertTransfer.headers=  {"authorization":""+token};
                this.$.insertTransfer.body = JSON.stringify(this.transactionNew);
                this.$.insertTransfer.generateRequest();
              }else{
                mensaje="El monto ingresado supera el saldo de la cuenta";
              }

              if(mensaje!=''){
                this.$.popupTransaction.close();
                this.mensaje=mensaje;
                this.$.mensaje.open();
              }

            }
          }

            transferResponse(data) {
              this.$.popupTransaction.close();
              var token =localStorage.getItem('tokenJWT');
              this.$.getAccounts.headers=  {"authorization":""+token};
              this.$.getAccounts.url='http://localhost:3000/api-uruguay/v1/accounts/'+ this.user;
              this.$.getAccounts.generateRequest();
            }
    }

    window.customElements.define(MyAccounts.is, MyAccounts);
  </script>
</dom-module>
